.wcontainer {
    padding-top: 25vh;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #4F7986;
    /* background-image: url("https://i.imgur.com/ZG05B8b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 75vh; 
    
}
.ws {
    text-align: center;
    /* text-decoration: underline; */
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Courgette', cursive; */
    font-size: 40px;
    margin-bottom: 0px;
    color: #e59d5c;
}
.description {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 17px;
    font-weight: lighter;
    margin:0px;
    padding-bottom: 20px;
    color: #f3d3b8;
}