.rsvpContainer {
    /* padding-top: 20vh; */
    /* background-image: url("https://i.imgur.com/PHImJUK.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #4F7986;
  height:100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* padding: 10px; */
  padding-left: 15px
}
.guestList {
  color: #f3d3b8;
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  margin: 25px 0px;
}
.form-section {
  /* height: 40vh; */
}
.dropdown {
  width: 26em;
  height: 25px;
  margin: 5px, 30px;
}
input {
  width: 25em;
  height: 20px;
}
li {
  color: #c9d1c8;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
label {
  color: #c9d1c8;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
.infoConf {
  color: #c9d1c8;
  font-family: 'Courgette', cursive;
  font-size: 25px;
  margin-left: 20px;
} 
.rsvpConfirmation {
  color: #f3d3b8;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}
p {
  color: #c9d1c8;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
.mainbtn, .secondarybtn {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #c9d1c8;
  color: #211f30;
  font-weight: bold;
  font-family: 'Overpass', sans-serif;
  font-size: 16px
}
/* button {
  margi-left: 10px
} */
.noGuest {
  color: #c9d1c8;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}