.wedding {
  background-image: url("https://i.imgur.com/ZG05B8b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}
.title {
  text-align: center;
  padding-top: 35vh;
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  font-weight: 500;
}
.date {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 45px;
  font-weight: lighter;
}