.destinationcontainer {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #4F7986;
    height: auto;
}
.destination {
  margin-top: 10px;
  font-family: 'Great Vibes', cursive;
  font-size: 75px;
  font-weight: lighter;
  color: #A5c3cf
}
.destinationloc {
  font-size: 25px;
  color: #f3d3b8;
}
.destinationmessage {
  font-family: 'Courgette', cursive;
  color: #c9d1c8;
  font-weight: lighter;
}
h3 {
  color: #f3d3b8;
}
.link {
  text-decoration: underline;
}
