.destinationcontainer {
    text-align: center;
    padding-top: 20vh;
    background-image: url("https://i.imgur.com/uiIPxTM.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}