.adviceContainer {
    padding-top: 0px;
    background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  font-family: 'Courgette', cursive;
}

.myForm {
    text-align: left;
    margin-left: 20px;
}
.myList {
    text-align: left;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 10px;
    border: solid black 2px;
    /* width: 88vw; */
}
.advice {
    text-align: left;
    margin: 0px;
}
.name {
    text-align: left;
    margin: 0px;
    font-family: 'Courgette', cursive;
}
.nameBox {
    margin-bottom: 15px;
    width: 87.5vw;
}
.adviceBox {
    margin-bottom: 15px;
    width: 87.5vw;
    height: 50px;
}
.myListButton {
    margin-bottom: 10px;
    margin-left: 6px;
}
h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
}
.adName {
    color: black;
    padding-left: 6px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
}
.adOutput {
    padding-left: 6px;
    /* margin-right:100px; */
    /* font-family: 'Courgette', cursive;
    font-weight: lighter; */
}
