.registry {
    /* padding-top: 20vh; */
    /* background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height:100vh;
    background-color: #f3d3b8;
}
.tygifts {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0px;
    margin-bottom: 2em;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Courgette', cursive;
    font-weight: 500;
}
.registrylist{
    text-align: center;
}
.amazon {
    /* height: 40px; */
    width: 130px;
    margin-bottom: 3em;
}
.potterybarn {
    height: 60px;
    width: 130px;
    margin-bottom: 3em;
}
.williamssonoma {
    /* height: 70px; */
    width: 130px;
    margin-bottom: 3em;
}
.crateandbarrel {
    /* height: 40px; */
    width: 140px;
    margin-bottom: 3em;
}
.target {
    /* height: 120px; */
    width: 130px;
    margin-bottom: 3em;
}
.nordstrom {
    /* height: px; */
    width: 130px;
    margin-bottom: 3em;
}
