.registry {
    /* padding-top: 20vh; */
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.tygifts {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0px;
    margin-bottom: 2em;
    padding-top: 10px;
    font-size: 33px;
    font-family: 'Courgette', cursive;
    font-weight: 500;
}
.registrylist{
    text-align: center;
}
.amazon {
    height: 40px;
    width: 200px;
    margin-bottom: 5em;
}
.potterybarn {
    height: 60px;
    width: 200px;
    margin-bottom: 5em;
}
.williamssonoma {
    height: 70px;
    width: 200px;
    margin-bottom: 5em;
}
.crateandbarrel {
    height: 40px;
    width: 200px;
    margin-bottom: 5em;
}
.target {
    height: 120px;
    width: 150px;
    margin-bottom: 5em;
}
.nordstrom {
    height: 30px;
    width: 200px;
    margin-bottom: 5em;
}
