.registry {
    height: auto;
    background-color: #4F7986;
}
.tygifts {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0px;
    margin-bottom: 2em;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Courgette', cursive;
    font-weight: 500;
    color:  #c9d1c8;
}
.registrylist{
    text-align: center;
}
.amazon {
    width: 130px;
    margin-bottom: 3em;
}
.potterybarn {
    height: 60px;
    width: 130px;
    margin-bottom: 3em;
}
.williamssonoma {
    width: 130px;
    margin-bottom: 3em;
}
.crateandbarrel {
    width: 140px;
    margin-bottom: 3em;
}
.target {
    width: 130px;
    margin-bottom: 3em;
}
.nordstrom {
    width: 130px;
    margin-bottom: 3em;
}
