/* li {
    list-style-type: none;
}
.Nav {
    display: flex;
    border: solid black 3px;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}
ul {
    display: flex;
}
.rslogo {
    font-size: 12px;
}
h1 {
    margin-top: 0px;
} */

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}
.header {
    display: flex;
    justify-content: flex-start;
    background-color: #4F7986;
    height: 100px;
}
h2 {
    margin-left: 20px;
}
ul {
    text-decoration: none;
    color: inherit;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline green;
} 

.nav-items {
    width: 0px;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
}

.hamburger-btn {
    padding-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2000 ease-in-out;
    cursor: pointer;
    margin-left: 130px
}

.hamburger-patty {
    width: 30px;
    height: 3px;
    background-color: #f3d3b8;
    transition: all 2000 ease-in-out;
    cursor: pointer;
}

.hamburger-patty::before,
.hamburger-patty::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px; 
    background-color: #f3d3b8;
}

.hamburger-patty::before {
    transform: translateY(10px);
}

.hamburger-patty::after {
    transform: translateY(-10px);
}

.hamburger-btn.open .hamburger-patty {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-btn.open .hamburger-patty::before {
    transform: rotate(-45deg) translate(35px, 35px)
}

.hamburger-btn.open .hamburger-patty::after {
    transform: rotate(45deg) translate(35px, -35px)
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    height: 0px;
    overflow: hidden;
}

.dropdown-menu.show {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4F7986;
    height: 400px;
}
#nav-two.nav-link, #nav-one.nav-link {
    font-size: 15px;
    color:  #c9d1c8;
}
.nav-link {
    color: black;
}
.logo {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    padding-left: 10px;
}


  
@media screen and (min-width:768px) {
      .header {
          display: flex;
          justify-content: flex-start;
      }
     .hamburger-btn {
         visibility: hidden;
         width: 0px;
         overflow: hidden;
     } 
     .nav-items {
        visibility: unset;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: black;
        margin-left: 2em;
        padding-top: 10px;
    }
    .nav {
        color: darkcyan;
        font-size: 25px;
        margin-top: 25px
    }
    .dropdown-menu.show {
        visibility: hidden;
        height: 0px;
    }


  } 